.card{
    width: 202px;
    height: 296px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 5px 4px 8px black;
    transition: 1s;
}
.desc{
    padding: 2px 4px 20px 5px;

}
img{
    width: 100%;
    /* border-radius: 5px 5px 0 0; */
    border-radius: 50%;
}
.card:hover{
    box-shadow: 0px 8px 16px rgb(224, 238, 24);
}