h1{
    color: #ffa511;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: teal double underline;
    text-transform: uppercase;
    font-family: League spartan;
}